*{
    margin: 0;
    padding: 0;
    background-color: rgb(103, 69, 40);
}
h1,h3{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: Verdana;

}
.board{
    border: 10px solid rgba(66, 8, 8, 0.432);
    width: 800px;
    height: 800px;
    margin: 50px auto;
    border-radius: 5px;
}
.row{
    height: 100px;
    width: 100%;
    
}

.col{
    height: 100px;
    width: 100px;
    float: left;
    font-size: 80px;
    text-align: center;   
    background-color: rgba(240, 255, 255, 0.3);
    
}
.black{
    background-color: rgba(160, 81, 45, 0.367);
}
